<nav class="navbar navbar-dark bg-primary">
  <a routerLink="/" class="navbar-brand">Microblogging</a>
  <a routerLink="/tweet" class="button fancy-button"><i class="material-icons">add_circle</i>Novo</a>

</nav>

