<div class="flex-center position-ref full-height">
  <div class="form-group offset-3 col-6">
    <label for="username">Username:</label>
    <input class="form-control" name="username" id="username" type="text"  [(ngModel)]="post.username"/>
  </div>
  <div class="form-group offset-3 col-6">
    <label for="text">Texto:</label>
    <textarea class="form-control" name="text" id="text" cols="30" rows="5" [(ngModel)]="post.text"></textarea>
  </div>

  <div class="form-group offset-3 col-6">
      <button class="btn btn-primary" (click)="postTweet()">Enviar</button>
      <a routerLink="/" class="btn btn-danger">Cancelar</a>
  </div>
</div>
