<form class="form-inline offset-4 p-2">
  <input #searchTag class="form-control mr-sm-2" size="30" type="search" id="searchTag"  name="searchTag" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="getTweetsByTag(searchTag.value)">Pesquisar</button>
</form>
<div class="offset-3 col-6" *ngFor="let p of posts">
  <div class="card m-3">
    <div class="card-header text-white bg-primary">Tweet</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{p.text}}</p>
        <footer class="blockquote-footer">@{{p.username}} - {{p.created_at}}
        </footer>
      </blockquote>
      <a (click)="deleteTweet($event)" id="{{p.id}}" class="delete-link"><i class="material-icons">delete_forever</i>Excluir</a>
    </div>
  </div>
</div>
